{{ block title }}
    Results of Round {{player.round_number}}
{{ endblock }}

{{ block content }}

<style>
    .flagged {
        color: red;
        font-weight: bolder;
        background: pink !important;
    }
    .notFlagged {
        color: green;
        font-weight: bolder;
        background: rgb(133, 250, 133) !important;
    }
</style>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Ball Color</th>
            <th scope="col">Message Sent</th>
            <th scope="col">Flagged</th>
            <th scope="col">Guess</th>
            <th scope="col">Your Payoff</th>
            <th scope="col">
                {% if player.role == C.RECEIVER_ROLE %}Sender's Payoff{% else %}Receiver's Payoff{% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{group.ball_color}}</td>
            <td>{{group.message_sent}}</td>
            {% if group.field_maybe_none('message_flagged') == None %}
            <td>
                N/A (message was true)
            </td>
            {% elif group.message_flagged %}
            <td class="flagged">
                Flagged
            </td>
            {% else %}
            <td class="notFlagged">
                Not Flagged
            </td>
            {% endif %}
            <td>{{group.guess}}</td>
            <td id="payoff">{{player.payoff}}</td>
            <td>{{opponent_payoff}}</td>
        </tr>
    </tbody>
</table>

<br>
<hr>

<div style="display: flex; justify-content: space-between;">
    <div>
        <div style="font-size: 20px; text-align: center;">{{chart_title}}</div>
        {{ include C.CHART_TEMPLATE }}
    </div>
    <div>
        <p style="font-size: 20px; text-align: center;">{% if player.role == C.RECEIVER_ROLE %}Your Guessing Plan{% else %}Receiver's Guessing Plan{% endif %}</p>
        <div style="border: 1px solid black; padding: 15px;">
            <p>If the message is "The ball is Red" and it is not flagged, then guess <b>{{group.if_red_guess}}</b></p>
            {% if group.field_maybe_none('if_red_flagged_guess')%}
                <p>If the message is "The ball is Red" and it is flagged, then guess <b>{{group.if_red_flagged_guess}}</b></p>
            {% endif %}
            <p>If the message is "The ball is Blue" and it is not flagged, then guess <b>{{group.if_blue_guess}}</b></p>
            {% if group.field_maybe_none('if_blue_flagged_guess')%}
                <p>If the message is "The ball is Blue" and it is flagged, then guess <b>{{group.if_blue_flagged_guess}}</b></p>
            {% endif %}
        </div>
    </div>
</div>
<div style="text-align: center">
    {{ next_button }}
</div>

<script>

    let index = 0
    let colors = ["", "grey"]
    setInterval(()=>{
        $("#payoff").css("background-color", colors[index%2])
        index+=1
    }, 250)

</script>

{{ endblock }}


